## imports

In [1]:
import pandas as pd

from lib.data_viz_functions import *

## reading data from disk

In [2]:
train = pd.read_pickle("data/train_df_full_part1.pkl.zip", compression="zip")
test = pd.read_pickle("data/test.pkl.zip", compression="zip")

train.shape, test.shape

((130201, 36), (34686, 32))

## quick view

In [3]:
describe_nums(train.select_dtypes(exclude="object"))

In [4]:
describe_nums(test.select_dtypes(exclude="object"))

In [5]:
train.select_dtypes("object").shape, test.select_dtypes("object").shape

((130201, 26), (34686, 26))

In [6]:
train.select_dtypes("object").describe().T.sort_values("unique", ascending=False)

,count,unique,top,freq
super_gen,130135,43825,"{'sale-data-attributes': {'asciiCat': 'cars', ...",235
image,130065,42933,https://avatars.mds.yandex.net/get-autoru-vos/...,241
car_url,129969,40721,https://auto.ru/cars/new/group/toyota/rav_4/21...,428
description,129988,35274,Официальный дилер Mercedes Benz ООО РОЛЬФ фили...,3230
equipment_dict,129969,31190,{},8214
complectation_dict,105267,2348,"['cruise-control', 'multi-wheel', 'airbag-pass...",1979
name,130153,2283,Nissan X-Trail III Рестайлинг,4013
region,103034,1335,в Москве,39180
date_added,103034,939,25 сентября,44873
vehicleConfiguration,129987,564,ALLROAD_5_DOORS AUTOMATIC 3.0,10895
model_name,103034,514,Tiguan,4592
enginePower,129988,307,249 N12,14262
Владение,14286,261,3 года и 2 месяца,646
engineDisplacement,129988,52,2.0 LTR,36933
bodyType,129986,21,внедорожник 5 дв.,75068
color,129988,16,чёрный,42216
brand,129988,12,TOYOTA,20117
fuelType,129986,5,бензин,100407
vehicleTransmission,129986,4,автоматическая,73836
Владельцы,103034,3,1 владелец,40576
Привод,103032,3,полный,58563
ПТС,103034,2,Оригинал,92587
Руль,103033,2,Левый,99356
priceCurrency,130153,2,RUB,129969
Состояние,103032,1,Не требует ремонта,103032
Таможня,103030,1,Растаможен,103030

In [7]:
test.select_dtypes("object").describe().T.sort_values("unique", ascending=False)

,count,unique,top,freq
car_url,34686,34686,https://auto.ru/cars/used/sale/skoda/octavia/1...,1
image,34686,34557,https://avatars.mds.yandex.net/get-verba/21620...,13
description,34686,31732,Выгода до 82 000 руб. при обмене на Ваш автомо...,264
equipment_dict,24690,23705,"{""leather"":true}",108
super_gen,34686,5890,"{""id"":""6214876"",""displacement"":1598,""engine_ty...",193
name,34686,2780,1.6 AT (110 л.с.),631
complectation_dict,6418,2364,"{""id"":""4562904"",""name"":""Elegance"",""available_o...",51
model_info,34686,954,"{""code"":""OCTAVIA"",""name"":""Octavia"",""ru_name"":""...",1404
vehicleConfiguration,34686,634,ALLROAD_5_DOORS AUTOMATIC 3.0,2389
model_name,34686,544,OCTAVIA,1418
enginePower,34686,315,249 N12,1708
Владение,11995,275,1 год и 10 месяцев,209
engineDisplacement,34686,55,2.0 LTR,7391
bodyType,34686,24,седан,13147
color,34686,16,чёрный,11010
brand,34686,12,BMW,4473
fuelType,34686,5,бензин,28601
vehicleTransmission,34686,4,автоматическая,19596
Владельцы,34686,3,3 или более,15957
Привод,34686,3,передний,15565
vendor,34686,2,EUROPEAN,20682
ПТС,34685,2,Оригинал,30098
Руль,34686,2,Левый,33287
priceCurrency,34686,1,RUB,34686
Состояние,34686,1,Не требует ремонта,34686
Таможня,34686,1,Растаможен,34686

In [8]:
print(
    "unique object cols in train:",
    set(train.select_dtypes("object").columns.tolist())
    - set(test.select_dtypes("object").columns.tolist()),
    "\nunique object cols in test:",
    set(test.select_dtypes("object").columns.tolist())
    - set(train.select_dtypes("object").columns.tolist()),
)

unique object cols in train: {'date_added', 'region'}
unique object cols in test: {'vendor', 'model_info'}

## making train and test similar

In [9]:
train["model_name"] = train.model_name.apply(lambda x: str(x).lower())
test["model_name"] = test.model_name.apply(lambda x: str(x).lower())

In [10]:
vendor_voc = test[["brand", "vendor"]].drop_duplicates().set_index("brand").to_dict()["vendor"]
vendor_voc

{'SKODA': 'EUROPEAN',
 'AUDI': 'EUROPEAN',
 'HONDA': 'JAPANESE',
 'VOLVO': 'EUROPEAN',
 'BMW': 'EUROPEAN',
 'NISSAN': 'JAPANESE',
 'INFINITI': 'JAPANESE',
 'MERCEDES': 'EUROPEAN',
 'TOYOTA': 'JAPANESE',
 'LEXUS': 'JAPANESE',
 'VOLKSWAGEN': 'EUROPEAN',
 'MITSUBISHI': 'JAPANESE'}

In [11]:
train.brand.unique().tolist()

['SKODA',
 nan,
 'AUDI',
 'HONDA',
 'VOLVO',
 'BMW',
 'NISSAN',
 'INFINITI',
 'MERCEDES',
 'TOYOTA',
 'LEXUS',
 'VOLKSWAGEN',
 'MITSUBISHI']

In [12]:
train["vendor"] = train["brand"].map(vendor_voc)
train.vendor.unique().tolist()

['EUROPEAN', nan, 'JAPANESE']

In [13]:
print(len(train.loc[train.vendor.isna()]["model_name"].unique().tolist()), "na of", len(train.model_name.unique().tolist()))

1 na of 514

In [14]:
train.loc[train.vendor.isna()].shape

(213, 36)

In [15]:
train.priceCurrency.unique()

array(['RUB', 'RUR', nan], dtype=object)

In [16]:
del train["priceCurrency"]
del test["priceCurrency"]
del train["model_info"]
del test["model_info"]
del train["views"]
del train["date_added"]
del train["region"]
del train["Состояние"]
del test["Состояние"]
del train["Таможня"]
del test["Таможня"]

## view again

In [17]:
describe_nums(train.select_dtypes(exclude="object"))

In [18]:
describe_nums(test.select_dtypes(exclude="object"))

In [19]:
train.select_dtypes("object").shape, test.select_dtypes("object").shape

((130201, 22), (34686, 22))

In [20]:
train.select_dtypes("object").describe().T.sort_values("unique", ascending=False)

,count,unique,top,freq
super_gen,130135,43825,"{'sale-data-attributes': {'asciiCat': 'cars', ...",235
image,130065,42933,https://avatars.mds.yandex.net/get-autoru-vos/...,241
car_url,129969,40721,https://auto.ru/cars/new/group/toyota/rav_4/21...,428
description,129988,35274,Официальный дилер Mercedes Benz ООО РОЛЬФ фили...,3230
equipment_dict,129969,31190,{},8214
complectation_dict,105267,2348,"['cruise-control', 'multi-wheel', 'airbag-pass...",1979
name,130153,2283,Nissan X-Trail III Рестайлинг,4013
vehicleConfiguration,129987,564,ALLROAD_5_DOORS AUTOMATIC 3.0,10895
model_name,130201,514,nan,27167
enginePower,129988,307,249 N12,14262
Владение,14286,261,3 года и 2 месяца,646
engineDisplacement,129988,52,2.0 LTR,36933
bodyType,129986,21,внедорожник 5 дв.,75068
color,129988,16,чёрный,42216
brand,129988,12,TOYOTA,20117
fuelType,129986,5,бензин,100407
vehicleTransmission,129986,4,автоматическая,73836
Владельцы,103034,3,1 владелец,40576
Привод,103032,3,полный,58563
vendor,129988,2,EUROPEAN,72959
ПТС,103034,2,Оригинал,92587
Руль,103033,2,Левый,99356

In [21]:
test.select_dtypes("object").describe().T.sort_values("unique", ascending=False)

,count,unique,top,freq
car_url,34686,34686,https://auto.ru/cars/used/sale/skoda/octavia/1...,1
image,34686,34557,https://avatars.mds.yandex.net/get-verba/21620...,13
description,34686,31732,Выгода до 82 000 руб. при обмене на Ваш автомо...,264
equipment_dict,24690,23705,"{""leather"":true}",108
super_gen,34686,5890,"{""id"":""6214876"",""displacement"":1598,""engine_ty...",193
name,34686,2780,1.6 AT (110 л.с.),631
complectation_dict,6418,2364,"{""id"":""4562904"",""name"":""Elegance"",""available_o...",51
vehicleConfiguration,34686,634,ALLROAD_5_DOORS AUTOMATIC 3.0,2389
model_name,34686,544,octavia,1418
enginePower,34686,315,249 N12,1708
Владение,11995,275,1 год и 10 месяцев,209
engineDisplacement,34686,55,2.0 LTR,7391
bodyType,34686,24,седан,13147
color,34686,16,чёрный,11010
brand,34686,12,BMW,4473
fuelType,34686,5,бензин,28601
vehicleTransmission,34686,4,автоматическая,19596
Владельцы,34686,3,3 или более,15957
Привод,34686,3,передний,15565
vendor,34686,2,EUROPEAN,20682
ПТС,34685,2,Оригинал,30098
Руль,34686,2,Левый,33287

In [22]:
train.shape, test.shape

((130201, 29), (34686, 28))

## conclusion

$y = price$ - take a log

- **car_url** - why we have different rows with the same url for train?
- **image** - maybe same images with different urls indicate fraud?
- **description** - to tokenize
- **equipment_dict** - deserialize, expand as additional cols
- **complectation_dict** - deserialize, expand as additional cols
- **name** - to check intersection train vs test
- **vehicleConfiguration** - view and maybe split to several features if splittable
- **engineDisplacement** - convert to float
- **enginePower** - convert to integer
- **Владельцы** - convert to integer
- **Владение** - calculate number of days
- **model_name** - check NAs, compare with **name** - maybe keep only one?
- **vendor** - check NAs
- **bodyType**, **color**, **brand**, **fuelType**, **vehicleTransmission**, **Привод**, **ПТС**, **Руль** - _temporary keep as is_

Numerics - fill na, log if tailed, standartize